__pycache__/
*.pyc
*.log
.env
/config.py
/data/
*.png

.bash_history
.bash_logout
.bashrc
.browser_data_dir/
.config/
.gitconfig
.lesshst
.local/
.npm/
.nvm/
.profile
.secrets/
.ssh/
.user_env
.zshrc
sandbox.txt
terminal_full_output/
upload/
